body {
    font-family: Verdana, sans-serif;
    text-align: center;
    padding: 0 3%;/* marginesy wewnętrzne: góra/dół 0, lewy/prawy 3% */
}

header {
    background-color:  #FDFAAA;
    color: #5BBB77;
    padding: 10px;
    text-shadow: 5px 5px 10px black;
}

#left {
    background-color: #FFA6A6;
    width: 79%;
    height: 600px;
    margin: 15px 0;
    box-shadow: 5px 6px 10px black;
}

#right {
    background: linear-gradient(#FDFAAA, #5BBB77);
    width: 21%;
    height: 630px;
}

footer {
    background-color: #5BBB77;
    color: #FFF555;
    font-weight: bold;
    font-size: 120%;
    padding: 15px;
}

table {
    margin: auto;
    width: 80%;
}

th {
    background-color: #5BBB77;
    font-size: 16px;
    height: 40px;
}

tr:nth-child(even) {
  background-color: #FDFAAA;
}

ul {
    list-style-type: square;
    line-height: 1.5;
}

a {
    color: #680808;
}

h4 {
    color: green;
}

main {
    display: flex;
}